.header {
  background-color: $dark-blue;

  &__nav {
    display: flex;
    padding: 36px 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;

    &-icon {
      border: solid $light-white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      cursor: pointer;
    }

    &-title {
      color: $light-white;
      flex: 1;
      display: flex;
      justify-content: center;
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }
  }
}
